.logo {
  max-height: 45px;
  height: 45px;
}

.top {
  z-index: 999;
  position: relative;
}

.offcanvas-container {
  height: 100vh;
  background: var(--sidebar-background);
  color: white;
}

.offcanvas {
  background: transparent;
}
