<header class="header top border-bottom border-1">
    <!-- <div class="container-lg"> -->

    <div class="toolbar">
        <div class="buttons-start">
            <button class="btn btn-icon" (click)="open(mainMenuTemp)">
                <i class="bi bi-list font-x-large d-lg-none d-block"></i>
            </button>
            <a routerLink="/">
                <myerp-media class="logo" src="/assets/images/logo.jpg" defaultImage="/assets/images/logo.jpg">
                </myerp-media>
            </a>
        </div>
        <div class="title d-none d-sm-flex"><a class="nav-link" routerLink="/">{{appName}}</a></div>
        <div class="buttons-end">
            <!-- <button ngbDropdownToggle class="btn btn-icon">
                <i class="bi bi-translate  font-x-large"></i>
            </button> -->
            <div ngbDropdown>
                <button ngbDropdownToggle class="btn btn-icon">
                    <i class="bi bi-person-circle font-x-large"></i>
                </button>
                <ul ngbDropdownMenu>
                    <li>
                        <a ngbDropdownItem [routerLink]="accountLink">{{"_MY_ACCOUNT" | translate}}</a>
                    </li>
                    <li>
                        <a ngbDropdownItem (click)="onLogout()" class="pointer">{{"_LOGOUT" | translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <ng-template #mainMenuTemp let-offcanvas>
        <div class="offcanvas-container">
            <div class="offcanvas-header">
                <h4 class="offcanvas-title" id="offcanvas-basic-title">{{appName}}</h4>
                <button type="button" class="btn-close text-light text-bg-light" aria-label="Close" (click)="offcanvas.dismiss()"></button>
            </div>
            <div class="offcanvas-body">
                <app-side-menu ></app-side-menu>
            </div>
        </div>
    </ng-template>

</header>