<div class="shadow-sm card page-container">
    <!-- <div class="card-header bg-transparent">
        <h4>{{title | mytranslate }}</h4>
    </div> -->
    @if (workspaceNav.length>0){
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h5> {{ title | mytranslate}}</h5>
            </div>
            @for (nav of workspaceNav; track nav.id){
            <div class="col-12 col-md-4 col-sm-6">
                <div class="card-body">
                    <h6><i class="bi bi-file-earmark-text me-2"></i>{{nav.label | mytranslate}}</h6>
                    <ul>
                        @for (c of nav.children; track c.id){
                        <a class='nav-link' [routerLink]="c.link">
                            <li>{{c.label | mytranslate}}</li>
                        </a>
                        }
                    </ul>
                </div>
            </div>

            }
        </div>
    </div>
    }


</div>