@if(dialogData){
<div class="bg-secondary-subtle d-flex flex-column-reverse flex-sm-row justify-content-between p-2 p-sm-3">
    <div class="d-flex align-items-center  mt-sm-0 mt-3">
        <h4>{{dialogData.documentId }}</h4>
    </div>
    <div class="d-flex gap-1 justify-content-end">
        <button class="btn btn-primary" (click)="onPrint()">
            <i class="bi bi-printer"></i>
            <span class="d-none d-sm-inline"> {{"_PRINT" | translate}}</span>
        </button>
        <button class="btn btn-light" (click)="loadPrinting()">
            <i class="bi bi-arrow-clockwise"></i>
            <span class="d-none d-sm-inline"> {{"_REFRESH" | translate}}</span>
        </button>
        <button class="btn btn-light" (click)="exportPrint('pdf')">
            <i class="bi bi-file-earmark-pdf"></i>
            <span class="d-none d-sm-inline"> PDF</span>
        </button>
        <button class="btn btn-light" (click)="onShare()">
            <i class="bi bi-share"></i>
            <span class="d-none d-sm-inline"> {{"_SHARE" | translate}}</span>
        </button>
        <button class="btn btn-icon" (click)="dismiss()">
            <i class="bi bi-x-lg"></i>
        </button>

        <div class="d-flex flex-column justify-content-between position-absolute z-1 zoom-tools gap-3">
            <button class="btn btn-icon bg-secondary-subtle shadow rounded-5" (click)="zoomIn()"><i class="bi bi-zoom-in"></i></button>
            <button class="btn btn-icon bg-secondary-subtle shadow rounded-5" (click)="resetZoom()"><i class="bi bi-aspect-ratio"></i></button>
            <button class="btn btn-icon bg-secondary-subtle shadow rounded-5" (click)="zoomOut()"><i class="bi bi-zoom-out"></i></button>
        </div>
    </div>
</div>
<div class="row flex-column flex-sm-row flex-grow-1 m-0">
    <div class="col-12 col-sm-4 col-md-2 m-1 mb-3 m-sm-3">
        <label class="font-small text-muted ms-2" [for]="selectedFormat()">
            {{"_PRINT_FORMAT" | translate}}
        </label>
        <ng-select appendTo="body" [searchable]="true" [clearable]="false" [(ngModel)]="selectedFormat"
            class="form-control form-control-sm w-auto py-0" (ngModelChange)="loadPrinting()">
            @for(option of printFormats(); track $index){
            <ng-option [value]="option.code">{{option.label | mytranslate}}</ng-option>
            }
        </ng-select>
    </div>
    <div class="col d-flex flex-column p-0">
        <div class=" bg-dark-subtle overflow-y-auto print-bg">
            <div id="print-container" [style.transform]="transformStyle" [style.transform-origin]="'center center'">
                @if(pages().length>0){
                @for (page of pages(); track $index) {
                <div class="print-paper my-3 zoomable-container  position-relative" [innerHTML]="page"></div>
                }
                }@else {
                <div class="print-paper my-3 zoomable-container  position-relative" [innerHTML]="printHtml()"></div>
                }
                <div [innerHTML]="styles()"></div>
            </div>
        </div>
    </div>
</div>
}
