@if(this.dialogData){
<div class="bg-secondary-subtle d-flex flex-column-reverse flex-sm-row justify-content-between p-2 p-sm-3">
    <div class="d-flex align-items-center  mt-sm-0 mt-3">
        <h4>{{this.dialogData.documentId }}</h4>
    </div>
    <div class="d-flex gap-1 justify-content-end">
        <button class="btn btn-primary" (click)="onPrint()">
            <i class="bi bi-printer"></i>
            <span class="d-none d-sm-inline"> {{"_PRINT" | translate}}</span>
        </button>
        <button class="btn btn-light" (click)="exportPrint('pdf')">
            <i class="bi bi-file-earmark-pdf"></i> 
            <span class="d-none d-sm-inline"> PDF</span>
        </button>
        <button class="btn btn-light" (click)="onShare()">
            <i class="bi bi-share"></i>
            <span class="d-none d-sm-inline"> {{"_SHARE" | translate}}</span>
        </button>
        <button class="btn btn-icon" (click)="dismiss()">
            <i class="bi bi-x-lg"></i>
        </button>

        <!-- <div ngbDropdown>
     <button class="btn btn-secondary" ngbDropdownToggle>
    {{"_EXPORT" | translate}}
  </button>
      <ul ngbDropdownMenu>
        <li>
          <a ngbDropdownItem (click)="exportPrint('pdf')">PDF (*.pdf)</a>
        </li>
        <li>
          <a ngbDropdownItem  (click)="exportPrint('xlsx')">Excel (*.xlsx)</a>
        </li>
      </ul>
    </div> -->
        <div class="d-flex flex-column justify-content-between position-absolute z-1 zoom-tools gap-3">
            <button class="btn btn-icon bg-secondary-subtle shadow rounded-5" (click)="zoomIn()"><i
                    class="bi bi-zoom-in"></i></button>
            <button class="btn btn-icon bg-secondary-subtle shadow rounded-5" (click)="resetZoom()"><i
                    class="bi bi-aspect-ratio"></i></button>
            <button class="btn btn-icon bg-secondary-subtle shadow rounded-5" (click)="zoomOut()"><i
                    class="bi bi-zoom-out"></i></button>
        </div>
        <!-- <span>{{"_ZOOM" | translate}} {{ (zoomLevel * 100).toFixed(0) }}%</span> -->

    </div>
</div>
<!-- <div class="row h-100 flex-grow-1 "> -->
<div class="row flex-column flex-sm-row flex-grow-1 m-0">
    <div class="col-12 col-sm-4 col-md-2 m-1 mb-3 m-sm-3">
        <label class="font-small text-muted ms-2" [for]="selectedFormat">
            {{"_PRINT_FORMAT" | translate}}
        </label>
        <ng-select appendTo="body" [searchable]="true" [clearable]="false" [(ngModel)]="selectedFormat"
            class="form-control form-control-sm w-auto py-0" (ngModelChange)="loadPrinting()">
            @for(option of printFormats;track $index){
            <ng-option [value]="option.code">{{option.label | mytranslate}}</ng-option>
            }
        </ng-select>
    </div>
    <div class="col d-flex flex-column p-0">
        <div class=" bg-dark-subtle overflow-y-auto print-bg">
            <div id="print-container" [style.transform]="transformStyle" [style.transform-origin]="'center center'">
                @if(pages.length>0){
                @for (page of pages; track $index) {
                <div class="print-paper my-3 zoomable-container  position-relative" [innerHTML]="page"></div>
                }
                }@else {
                <div class="print-paper my-3 zoomable-container  position-relative" [innerHTML]="printHtml"></div>
                }
                <div [innerHTML]="styles"></div>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->

}



<!-- <script>
    document.addEventListener("DOMContentLoaded", (event) => {
        const content = document.querySelector(".print-format");
        const contentHeight = content.offsetHeight;
        const footer = document.querySelector(".footer");
        const footerHeight = footer.offsetHeight;
        const pageHeight =
            1150; // A4 size: 1122        
        const pageTotal = contentHeight / pageHeight;
        const roundOff = contentHeight > pageHeight ? 0.1 : 0;
        let pageCount = Math.floor(pageTotal + roundOff);
        if ((pageHeight * pageCount) - contentHeight < footerHeight) {
            pageCount = pageCount + 1
        }
        content.style.setProperty("--page-count", pageCount);
        const pageNo = document.querySelector("#page-no");
        pageNo.innerHTML = `${pageCount}`;
        const departureTime = document.querySelector(".departure-time");
        const departureTimeStr = departureTime.innerHTML.split(":").join("");
        departureTime.innerHTML = departureTimeStr.padStart(6, "0").slice(0, 4);
    });
</script>
<table border="0" width="100%" style="table-layout: fixed;">
    <tr>
        <td colspan="2" style="border: none; font-weight: bold; font-style: italic"> {% if doc.docstatus == 0 %} DRAFT
            {% endif %} </td>
        <td colspan="2" style="text-align: center; font-size: medium; border: none; font-weight: bold">IMO PASSENGER
            LIST</td>
        <td colspan="2" style="text-align: end; border: none">Print
            Date:&nbsp;&nbsp;&nbsp;&nbsp;{{ frappe.utils.format_datetime(frappe.utils.now(), "ddMMyyyy") }}</td>
    </tr>
</table>
<table border="0" width="100%">
    <td colspan="6" style="border: none">Departure Time: <span
            class="departure-time">{{ doc.departure_time }}</span>{{ doc.vessel_code or "" }}/Bhrs</td>
    </tr>
    <tr>
        <td colspan="2" style="border: none">Last Port Call: <span
                style="text-transform: uppercase">{{ doc.last_port }}</span></td>
        <td colspan="2" style="border: none">Next Port Call: <span
                style="text-transform: uppercase">{{ doc.to_port }}</span></td>
        <td style="border: 1px solid; text-align: center" id="page-no"></td>
        <td style="border: none">PAGE NO.</td>
    </tr>
</table>
<table width="100%">
    <thead>
        <tr>
            <td colspan="10" style="padding: 0!important; border: none">
                <table width="100%" border="1" style="table-layout: fixed; margin-top: 1em; border: none">
                    <tr>
                        <td colspan="2" style="text-align: center; font-weight: bold; border-bottom: none">NAME OF SHIP:
                        </td>
                        <td colspan="2" style="text-align: center; border-bottom: none">PORT OF ARRIVAL / DEPARTURE:
                        </td>
                        <td colspan="2" style="text-align: center; border-bottom: none">DATE OF ARRIVAL / DEPARTURE:
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center; border-top: none">{{ doc.vessel }}</td>
                        <td style="text-align: center; border-top: none">{{ doc.to_port }}</td>
                        <td style="text-align: center; border-top: none">{{ doc.from_port }}</td>
                        <td style="text-align: center; border-top: none">
                            {{ frappe.utils.format_datetime(doc.arrival_date, "dd-MM-yyyy") }}</td>
                        <td style="text-align: center; border-top: none">
                            {{ frappe.utils.format_datetime(doc.departure_date, "dd-MM-yyyy") }}</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold; border-bottom: none">NATIONALITY:</td>
                        <td style="text-transform: uppercase; border-bottom: none">{{ doc.vessel_nationality }}</td>
                        <td colspan="4" style="border-bottom: none">Agent:&nbsp;&nbsp;&nbsp;&nbsp;<span
                                style="text-transform: uppercase">{{ doc.agent }}</span></span></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th style="text-align: center">No</th>
            <th width="20%" style="text-align: center">Name</th>
            <th style="text-align: center">Sex</th>
            <th style="text-align: center">D.O.Birth</th>
            <th style="text-align: center">Nationality</th>
            <th style="text-align: center">Passport</th>
            <th style="text-align: center">Passport Expiry</th>
            <th style="text-align: center">Ticket NO.</th>
            <th style="text-align: center">Place Issue</th>
            <th style="text-align: center">Remarks</th>
        </tr>
    </thead>
    <tbody> {% set passes = doc.fetch_boarding_passes() %} {% for pass in passes%} <tr
            class="{% if (loop.index0==38) or (loop.index0 -38) % 45 == 0 %}break-page{% endif %}">
            <td style="text-align: center">{{ '{:03}'.format(loop.index) }}</td>
            <td>{{ pass.passenger_name }}</td>
            <td style="text-align: center"> {% if pass.gender == "Male" %} M {% elif pass.gender == "Female" %} F
                {% else %} O {% endif %} </td>
            <td style="text-align: center">{{ frappe.utils.format_datetime(pass.date_of_birth, "dd-MM-yyyy") }}</td>
            <td style="text-transform: uppercase; text-align: center">{{ pass.nationality }}</td>
            <td style="text-align: center">{{ pass.passport }}</td>
            <td style="text-align: center">{{ frappe.utils.format_datetime(pass.passport_expiry, "dd-MM-yyyy") }}</td>
            <td style="text-align: center">{{ pass.ticket_number }}</td>
            <td style="text-transform: uppercase; text-align: center">{{ pass.place_issue }}</td>
            <td style="text-align: center"> {% if pass.is_ntl %} NTL {% elif pass.is_foc %} FOC
                {% elif pass.is_return %} RTN {% else %} GO {% endif %} </td>
        </tr> {% endfor %} </tbody>
    <tfoot></tfoot>
</table>
<div class="footer last-page-footer"> {% set summary = doc.fetch_summary(passes) %} <table width="95%"
        class="stat-table">
        <tr>
            <td width="25%">One Way - Child - G&nbsp;&nbsp;{{ summary.owc }}</td>
            <td width="25%">Two Way - Child - G&nbsp;&nbsp;{{ summary.twgc }}</td>
            <td width="25%">Two Way - Child - B&nbsp;&nbsp;{{ summary.twbc }}</td>
            <td width="25%"></td>
        </tr>
        <tr>
            <td width="25%">One Way - Adult - G&nbsp;&nbsp;{{ summary.owa }}</td>
            <td width="25%">Two Way - Adult - G&nbsp;&nbsp;{{ summary.twga }}</td>
            <td width="25%">Two Way - Adult - B&nbsp;&nbsp;{{ summary.twba }}</td>
            <td width="25%"></td>
        </tr>
    </table>
    <table width="95%" class="stat-table">
        <tr>
            <td width="25%">SINGAPORE - {{ summary.singapore }}</td>
            <td width="25%">MALAYSIA - {{ summary.malaysia }}</td>
            <td width="25%">INDONESIA - {{ summary.indonesia }}</td>
            <td width="25%">OTHERS - {{ summary.others }}</td>
        </tr>
    </table>
    <table width="95%" class="stat-table">
        <tr>
            <td width="20%">FOC - {{ summary.foc }}</td>
            <td width="20%">NTL - {{ summary.ntl }}</td>
            <td width="20%"></td>
            <td width="20%"></td>
            <td width="20%"></td>
        </tr>
    </table>
    <table width="95%" class="stat-table">
        <tr>
            <td width="20%">Infant - {{ summary.inf }}</td>
            <td width="20%"></td>
            <td width="20%"></td>
            <td width="20%"></td>
            <td width="20%"></td>
        </tr>
    </table> <strong style="display: block; text-align: center">Passenger: {{ summary.total }}</strong>
    <hr />
    <table width="100%">
        <tr>
            <td colspan="2" style="border: none">DATE AND SIGNATURE OF MASTER / AUTHORISED AGENT OR OFFICER</td>
        </tr>
        <tr>
            <td width="150em" style="border: none; border-bottom: 1px solid; height: 6em"></td>
            <td style="border: none"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: none">MASTER OF MV</td>
        </tr>
    </table> -->