.bg-video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    overflow: hidden;
}

.form-signin {
    width: 100%;
    max-width: 400px;
    margin: auto;
    background: #ffffff85;
    border-radius: 10px;
}

.logo{
    width: 80px;
}