<!-- <header class="header sticky-top bg-transparent mx-3"> -->
<div class="d-flex flex-column h-100">
    <div class="bg-dark-subtle d-flex justify-content-between p-3 flex-shrink-0">
    <h4>{{title | mytranslate }}</h4>
    <div>
        <button class="btn btn-sm btn-primary" (click)="onAddNew()">{{"_ADD_NEW" | translate}}</button>
    </div>
</div>
<!-- </header> -->
<div class="rounded-0 card flex-grow-1">
    @if(filterConfig){
    <myerp-form-generator [config]="filterConfig" (onChange)="onFilter($event)"></myerp-form-generator>
    }
    <div class="card-body p-0" [ngClass]="{'mt-4':!filterConfig}" style="height: 0;">
        @if(datagridConfig){
        <myerp-data-gridview [config]="datagridConfig" [data]="docs" (onPageChange)="onPageChange($event)"
            (onSelect)="onSelect($event)" (onSort)="onSort($event)"></myerp-data-gridview>
        }
    </div>
</div>
</div>