<!-- <header class="header sticky-top bg-transparent mx-3"> -->
<div class="sticky-top bg-dark-subtle d-flex justify-content-between p-3">
    <h4>{{title | mytranslate }}</h4>
    <div>
        <button class="btn btn-sm btn-primary" (click)="onAddNew()">{{"_ADD_NEW" | translate}}</button>
    </div>
</div>
<!-- </header> -->
<div class="shadow-sm card">
    @if(filterConfig){
    <myerp-form-generator [config]="filterConfig"></myerp-form-generator>
    }
    <div class="card-body p-0" [ngClass]="{'mt-4':!filterConfig}">
        @if(datagridConfig){
        <myerp-data-gridview [config]="datagridConfig" [data]="docs" (onPageChange)="onPageChange($event)"
            (onSelect)="onSelect($event)" (onSort)="onSort($event)"></myerp-data-gridview>
        }
    </div>
</div>